div.local-main {
  margin-top: 3vh;

  width: 90%;
  min-height: 85vh;
  background-image: url("./../../../assets/images/background/body_background03.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 





}

