<div class="local-center">
  <div class="card">
    <div class="local-card-body">
      <h5 class="card-title hello">Hello, This is Antonio Filho Online CV</h5>
      <h5 class="card-title">My contacts are:</h5>
      <h6 class="card-title">By Phone or Whatapp or Telegram: 0 351 918203784</h6>
      <h6 class="card-title">By Email:{{ "filhotony777@gmail.com " }} or {{"antonio.filho.t0116216@edu.atec.pt"}}</h6>
      <p class="card-text">
        For security reason i won't put this private information here . After I receive
        a cooperative email from you or HR company, i will give to you access to Authentication and
        than you will have my curriculum.
      </p>
      <p>If you have curiosity about this SPA and the technologies developed that on my own hit at <a [routerLink]= "'/about'" >" About. "</a> </p>
      <h6 class="card-title">Now I am living here, at a brush home, beautiful place at paradise.</h6>
      <div class="local-img">
        <img src="./../../assets/images/sao_Jorge/01_Antonio_Filho.png" alt="Arco de são Jorge Madeira Island.">

      </div>
    </div>
  </div>
</div>
