// .localpop-up {
.localpop-up-gdpr {
  width: 100%;
  background-image: url("./../../../../assets/images/background/RGPD_Europa.jpeg") !important;
  background-size: cover; /* Ajusta a imagem para cobrir todo o card */
  background-position: center; /* Centraliza a imagem dentro do card */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  border: solid 1px rgb(126, 200, 223);; /* Exemplo de borda para o card */
  border-radius: 8px; /* Deixa os cantos arredondados, opcional */
  overflow: hidden; /* Par */
  overflow-y: auto;
  opacity: 0.7;

  mat-dialog-content {

    text-align: center !important;
    color: black !important;
    font-weight: 500;
    font-size: 1em;
    text-shadow:  1px 1px 3px rgba($color: aliceblue, $alpha: 0.7) !important;   
    z-index: 20;
    position: relative;

  }

  mat-dialog-actions {
    position: relative;
    z-index: 20;
    
    button {
      padding: 1.5%;
      margin-right: 8px;
      border-radius: 5px;     
      color: black !important;
      // position: relative;
      // z-index: 20;
    }

  }



}
