<div class="local-center">
  <div id="localUp" class="card">
    <div class="local-Button">
      <button
            type="button"
            class="btn btn-outline-light me-md-2"
             (click)="goBack()"

          >
            Go Home
          </button>

    </div>
    <div class="card-body">

      <h5 class="card-title">
        This is Tony Filho I started my career as Angular Developer in 2020, now
        I am working as Junior Java and Full in Angular.
      </h5>

      <p class="card-text">
        This description highlights your experience and skills, clearly
        conveying your proficiency with the mentioned technologies and your
        commitment to developing modern, effective web applications.
      </p>
      <h5 class="card-title">Angular developer</h5>
      <p class="card-text">
        I am dedicated to creating dynamic and responsive user interfaces. With
        years of experience in front-end development, I have a deep
        understanding of Angular, one of the most powerful JavaScript frameworks
        for building Single Page Applications (SPAs).
      </p>
      <h5 class="card-title">### Technical Specialties ####</h5>
      <p class="card-text">
        I am a passionate Angular My expertise in Angular includes creating
        reusable components, managing complex states, and optimizing performance
        to ensure a smooth user experience. I am familiar with the latest
        versions of Angular as well as best development practices, including
        using RxJS for reactive programming and TypeScript.
      </p>
      <h5 class="card-title">#### Media Query ####</h5>
      <p class="card-text">
        I utilized in this SPA you can test it. I used media query to images and
        texts. Minimize this pages and you will see tI utilized in this SPA you
        can test it. I used media query to images and texts. Minimize this pages
        and you will see the website is responsive.
      </p>
      <h5 class="card-title">#### Flexbox ####</h5>
      <p class="card-text">
        I utilize Flexbox to build flexible and responsive layouts. With
        Flexbox, I can align and distribute elements on the page efficiently,
        ensuring that the design adapts to different screen sizes and devices.
        My understanding of Flexbox properties such as `justify-content`,
        `align-items`, and `flex-direction` allows me to create complex and
        consistent layouts.
      </p>
      <h5 class="card-title">#### CSS Grid CSS Grid ####</h5>
      <p class="card-text">
        is another powerful tool in my arsenal, enabling the creation of
        advanced two-dimensional layouts. With Grid, I can explicitly define
        rows and columns and control the precise placement of elements on the
        screen. My proficiency with Grid properties such as
        `grid-template-rows`, `grid-template-columns`, and `grid-area` empowers
        me to develop sophisticated designs that meet the specific needs of each
        project.
      </p>

      <h5 class="card-title">### Commitment to Excellence ####</h5>
      <p class="card-text">
        My commitment is always to deliver high-quality solutions that not only
        meet but exceed client expectations. By utilizing Angular in conjunction
        with Flexbox and CSS Grid, I develop interfaces that are not only
        visually appealing but also highly functional and accessible. If you are
        looking for a developer who combines technical knowledge with creativity
        and attention to detail, I am here to turn your ideas into reality.
      </p>
    </div>
    <div class="localUper">
      <a href="#" (click)="scrollToTop($event)">Up</a>
    </div>
    <div class="local-img">
      <img src="./../../../assets/images/responsive/01_Small_Resposive.png" alt="">
      <img src="./../../../assets/images/responsive/01_medium_Resposive.png" alt="">
      <img src="./../../../assets/images/responsive/01_Lager_Resposive.png" alt="">



    </div>






    <div class="localUper">
      <a href="#" (click)="scrollToTop($event)">Up</a>
    </div>
  </div>
</div>
