<div class="local-center">
  <div class="card">
    <div class="local-card-body">
      <h5 class="card-title hello">Hello, This is Antonio Filho Online CV</h5>
      <h5 class="card-title">My contacts are:</h5>
      <h6 class="card-title">
        By Phone or Whatapp or Telegram: 0 351 918203784
      </h6>
      <h6 class="card-title">
        By Email:  {{ " antonio.filho.t0116216@edu.atec.pt" }} if has problem with Atec Email, follow the back email, 
        {{ " filhotony777@gmail.com " }} .
      </h6>
      <p class="card-text">
        Hello Pals! This a SPA Serverless in Angular 18, where I applied a lot
        of technologies. Beyond Angular 18 I used, Firebase Database, Firebase Auth, Css and BootStrap css
        and Github Deploy.       
      </p>
      <p>
        If you have curiosity about this SPA and the technologies developed that
        on my own hit at <a [routerLink]="'/about'">" About. "</a>
      </p>
      <p>
        I going to describe my private opnion! Sory but I dont beleaved in Full Stack professional, no one knowing
        everything, neither IA knowing everything! I belive there are specialist in some technologies and working with
        Backend together Frontend.
        It talking about IA, IA is very nice tools, it feeding itselves of information from the Specialists getting access in your
        repositories, if Specialists stoping to push new code version in your prepositories IA going to unupdated.
      </p>
      <h6 class="card-title local-center">
        {{ "Now I am living a brush home, beautiful place at paradise . "
        }}<a class="nav-link" href="https://discoverportugal2day.com/visitar-arco-sao-jorge/" target="_blank">{{ " Hithere!" }}</a>
      </h6>
      <div class="local-img">
        <img src="./../../assets/images/sao_Jorge/01_Antonio_Filho.png" alt="Arco de são Jorge Madeira Island." />
      </div>
      <div class="local-img">
        <img src="./../../assets/images/sao_Jorge/sao_jorge.jpg" alt="Arco de são Jorge Madeira Island." />
      </div>
    </div>
  </div>
</div>