<div class="local-center">
  <div class="card">
    <div class="local-card-body">
      <h5 class="card-title hello">Hello, This is Antonio Filho Online CV</h5>
      <h5 class="card-title">My contacts are:</h5>
      <h6 class="card-title">
        By Phone or Whatapp or Telegram: 0 351 918203784
      </h6>
      <h6 class="card-title">
        By Email: {{ " filhotony777@gmail.com " }} or
        {{ " antonio.filho.t0116216@edu.atec.pt" }}
      </h6>
      <p class="card-text">
        Hello Pals! This a SPA Serverless in Angular 18, where I applied a lot
        of tecnologis. Beond Angular 18 I used, Firebase, Css and BootStrap css
        and Github Deploy. <br> In sumerise: In Angular 18 I Used NxJs Operators,
        Signals, Standalone components, Lasy-loading Routes, AngularFire,
        Angular Material(Dialog, SnackBar Service), CanActivatecFn in /home, Regex to Email, TypedFormsGroup ,
        UnTypedFormsGroup, Forms Valitation,  Services with HttpServices(Post, Get), Models,
        Interfaces, TypeScript. <br> I used: Firebase Authentication, Firebase
        DataBase (Upload and Download Documents). To Scss and Css, I used Media
        Query, Flex Container, Grid Container. To Deploy I used: Automatic
        Deploy by GitHub after the push. and to small components that i used,
        Bootstrap Example: Buttons and others.
      </p>
      <p>
        If you have curiosity about this SPA and the technologies developed that
        on my own hit at <a [routerLink]="'/about'">" About. "</a>
      </p>
      <h6 class="card-title local-center">
       {{ 'Now I am living  a brush home, beautiful place at paradise . '}}<a class="nav-link" href="https://discoverportugal2day.com/visitar-arco-sao-jorge/" target="_blank">{{' Hit here!'}}</a>
      </h6>
      <div class="local-img">
        <img
          src="./../../assets/images/sao_Jorge/01_Antonio_Filho.png"
          alt="Arco de são Jorge Madeira Island."
        />
      </div>
      <div class="local-img">
        <img
          src="./../../assets/images/sao_Jorge/sao_jorge.jpg"
          alt="Arco de são Jorge Madeira Island."
        />
      </div>
    </div>
  </div>
</div>
