.btn.ddi {
  color: aliceblue;
  background-color: rgb(28, 112, 238);
  border-color: var(--bs-btn-hover-border-color);
}
.btn:hover {
  background-color: rgb(2, 34, 82);
  border-color: var(--bs-btn-hover-border-color);
}

div.local-center {
  margin-top: 21vh;
  display: flex;

  justify-content: center;

  .card {
    background: linear-gradient(68.15deg, #07389b 14.62%, #293244 85.61%);
    // background-color:  rgb(163, 195, 223);
    margin: 0;
    padding: 0;
    min-width: 70%;
    .card-body {
      .local-register {
        min-width: 100%;
        min-height: 100%;
        background-image: url("./../../../assets/images/background/RegisterPage2.jpeg");
        background-size: cover; /* Ajusta a imagem para cobrir todo o card */
        background-position: center; /* Centraliza a imagem dentro do card */
        background-repeat: no-repeat; /* Evita que a imagem se repita */
        border: solid 1px rgb(126, 200, 223); /* Exemplo de borda para o card */
        border-radius: 8px; /* Deixa os cantos arredondados, opcional */
        overflow: hidden; /* Par */
        // display: flex;
        // align-items: center;
        // justify-content: space-around;
        padding: 6vh;


      }
    }
  }
}

.p-3 {
  color: rgb(16, 24, 24) !important;
  font-size: 2em !important;
  font-weight: 400;
}
