<div class="local-center">
  <div class="card">
    <div class="card-body">
      <div class="local-register">


        <form
          class="text-center"
          [formGroup]="this.registerForm"
          (ngSubmit)="submitForms()"
        >
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <!-- --------------------------------Name -->
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="name"
                  class="form-control"
                  id="name"
                  placeholder=" Must be 8-20  long"
                  formControlName="name"
                />
                <!-- Validatiors------------------------------------ -->
                <!---------------------------------------------- Usando CONTROLS Errors -->
                @if(!registerForm.controls['name'].valid &&
                registerForm.controls['name'].touched) {
                <section>
                  @if (registerForm.controls['name'].errors?.['required']) {
                  <small
                    class="warning"
                    style="color: red; padding: 0.5%; font-size: 10px"
                  >
                    <p>Field is mandatory</p>
                  </small>
                  <!-- Usando HASERROR -->
                  } @if (registerForm.hasError('minlength', 'name') ||
                  registerForm.hasError('maxlength', 'name') ) {
                  <small
                    class="warning"
                    style="color: red; padding: 0.5%; font-size: 10px"
                  >
                    <p>
                      {{ "Min name 8 caracters and Max name 16 caracters" }}
                    </p>
                  </small>
                  }
                </section>
                }
              </div>
              <!-- -------------------------------------Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                  formControlName="email"
                />
                <!-- Validatiors------------------------------------ -->
                <!-- Usando CONTROLS Errors -->
                @if(!registerForm.controls['email'].valid &&
                registerForm.controls['email'].touched) {
                <section>
                  @if (registerForm.controls['email'].errors?.['required']) {
                  <small
                    class="warning"
                    style="color: red; padding: 0.5%; font-size: 10px"
                  >
                    <p>Field is mandatory</p>
                  </small>
                  } @if (registerForm.hasError('pattern', 'email')) {
                  <!------------------------------------------------ Usando HASERROR -->
                  <small
                    class="warning"
                    style="color: red; padding: 0.5%; font-size: 10px"
                  >
                    <p>
                      {{ "Pattern Error, Email needs to be youremail@....." }}
                    </p>
                  </small>
                  }
                </section>
                }
              </div>
              <!-- -------------------------------------Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder=" Must be 8-20  long"
                  formControlName="password"
                />
                <!-- Validatiors------------------------------------ -->
                <!---------------------------------------------- Usando CONTROLS Errors -->
                @if(!registerForm.controls['password'].valid &&
                registerForm.controls['password'].touched) {
                <section>
                  @if (registerForm.controls['password'].errors?.['required']) {
                  <small
                    class="warning"
                    style="color: red; padding: 0.5%; font-size: 10px"
                  >
                    <p>Field is mandatory</p>
                  </small>
                  <!-- Usando HASERROR -->
                  } @if (registerForm.hasError('minlength', 'password') ||
                  registerForm.hasError('maxlength', 'password') ) {
                  <small
                    class="warning"
                    style="color: red; padding: 0.5%; font-size: 10px"
                  >
                    <p>
                      {{
                        "Min Password 8 caracters and Max Password 16 caracters"
                      }}
                    </p>
                  </small>
                  }
                </section>
                }
              </div>
              <!-- </form> -->
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end two">

              <a class="btn btn-dark" role="button" (click)="goBack()"
                >CANCEL</a
              >
              <button
                type="submit"
                class="btn btn-primary me-md-2"
                [disabled]="this.registerForm.invalid"
              >
                REGISTER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
