div.local-center {
  margin-top: 13.5vh;
  display: flex;
  width: 100%;
  min-height: fit-content;

  justify-content: center;

  .card::before {
    background: linear-gradient(68.15deg, #07389b 14.62%, #293244 85.61%);
    // background-color:  rgb(163, 195, 223);
    margin: 0;
    padding: 0 !important;
    width: 100%;

    height: 100%;
    background-image: url("./../../../assets/images/background/RegisterPage2.jpeg");
    padding: 0 !important;
    background-size: cover; /* Ajusta a imagem para cobrir todo o card */
    background-position: center; /* Centraliza a imagem dentro do card */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    border: solid 1px rgb(126, 200, 223); /* Exemplo de borda para o card */
    border-radius: 8px; /* Deixa os cantos arredondados, opcional */
    content: "";
    overflow: hidden; /* Par */
    position: absolute;
    opacity: 0.7;
    z-index: 1;
  }
}

.container.mt-5 {
  position: relative; 
  font-size: 1.5rem !important;
  font-weight: 400;
  z-index: 2;
  color: black !important;
}

.btn.ddi {
  z-index: 2;
  color: aliceblue;
  background-color: rgb(28, 112, 238);
  border-color: var(--bs-btn-hover-border-color);
}
.btn:hover {
  z-index: 2;
  background-color: rgb(2, 34, 82);
  border-color: var(--bs-btn-hover-border-color);
}


.user-registration {
  display: flex;
  justify-content: space-around;
}


.local-Avatar {
  display:flex !important;
  align-items: center !important;
  
}
.form-label{
  margin-bottom: .2rem;
  font-size: 1.5rem;
}
.local-button {
  z-index: 20;
  position: relative;
}
