<span class="localpop-up">
  <mat-dialog-content>
    <h2 mat-dialog-title>Your are Registered !!!</h2>
  </mat-dialog-content>
  <mat-dialog-content>
    Wait fill hours and you will receive a email.
  </mat-dialog-content>
  <mat-dialog-content>
   This email will confirm and allow your access.
  </mat-dialog-content>


  <mat-dialog-actions>
    <!-- OBS: mat-dialog-close]="true" consigo capturar este boolean quando for fechado la var RESULT-->
    <button
      mat-button
      id="registration"
      [mat-dialog-close]="true"
      cdkFocusInitial
      style="background-color: rgb(41, 117, 231)"
    >
      Close
    </button>
  </mat-dialog-actions>
</span>
