<div class="local-center">
  <div class="card">
    <div class="card-body">
      <div class="local-not-found">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end one">
          <button
            type="button"
            class="btn btn-outline-light me-md-2 go-back"
            (click)="goBack()"
          >
            Go Back
          </button>
        </div>

        <div class="text-center">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <!-- Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder=" Must be 8-20  long">
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end two">

              <a class="btn btn-outline-dark" role="button">Recover Password</a>
              <button  type="button"
                class="btn btn-outline-danger me-md-2"
              >
                LOGIN
              </button>
              <button
                type="button"
                class="btn btn-outline-primary me-md-2"
              >
                REGISTER
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
