html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




.body {

  display: flex;
 
  justify-content: center;
  align-items: center;
  height: max-content;
  background-image: url("./assets/images/background/body_background01.jpeg");
}


